<nav>
    <div class="nav-flex">
        <a href="/">Home</a>
        <a href="/workshops">Workshops</a>
        <a href="/shop">Shop</a>
        <a href="/about">About</a>
    </div>
    <a href="#" id="shopping-cart"><img src="/images/shopping-cart.png" alt=""></a>
</nav>