<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="/css/about.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <%- include('./partials/_navbar.ejs') %>
    </header>
    <h1>About</h1>
    <div class="about-flex-container">
        <div class="about-profile-flex-container">
            <img src="/images/lexi.jpg" alt="">
            <h3>Lexi Angermueller</h3>
            <p class="italics">Marketing & Creative Director</p>
            <p class="about-description">
                Lexi specializes in marketing, event planning, content creation, and product development. She has
                experience in product design, business development, and digital marketing through AKA Styles, her
                handcrafted jewelry and custom art business.
            </p>
        </div>
        <div class="about-profile-flex-container">
            <img src="/images/charles.jpg" alt="">
            <h3>Charles Armstrong</h3>
            <p class="italics">Business Development & Creative Director</p>
            <p class="about-description">Charles Armstrong is a product design and business development expert. He
                specializes in creating innovative products and helping businesses grow. Charles works to turn ideas
                into practical solutions that drive success and meet customer needs.
            </p>
        </div>
        <div class="about-profile-flex-container">
            <img src="/images/ryan.jpg" alt="">
            <h3>Ryan Sherman</h3>
            <p class="italics">Digital Media & Web Development Director </p>
            <p class="about-description">Ryan is a full-stack software engineer who attacks problems with a creative,
                entrepreneurial mindset. With experience creating music as a producer and mixing engineer, Ryan continually carries creativity and
                critical thinking into his full-stack software development.</p>
        </div>
    </div>

    <script src="/script.js"></script>
</body>

</html>