<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="/css/about.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <%- include('./partials/_navbar.ejs') %>
    </header>
    <h1>About</h1>
    <div class="about-flex-container">
        <div class="about-profile-flex-container">
            <img src="/images/lexi.jpg" alt="">
            <h3>Lexi Angermueller</h3>
            <p class="italics">Marketing & Creative Director</p>
            <p>text</p>
        </div>
        <div class="about-profile-flex-container">
            <img src="/images/charles.jpg" alt="">
            <h3>Charles Armstrong</h3>
            <p class="italics">Business Development & Creative Director</p>
            <p>text</p>
        </div>
        <div class="about-profile-flex-container">
            <img src="/images/ryan.jpg" alt="">
            <h3>Ryan Sherman</h3>
            <p class="italics">Digital Media & Website Development Director            </p>
            <p>text</p>
        </div>
    </div>
</body>

</html>