<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <header>
        <%- include('./partials/_navbar.ejs') %>
    </header>
    <img src="/images/logo.png" alt="logo that says 'Revive Boutique. Revive your wardrobe. Thrive your upcycle style" id="logo">
</body>
</html>