<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="/css/shop.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <%- include('./partials/_navbar.ejs') %>
    </header>
    <h1>Shop</h1>
    <main>
        <div class="shop-item">
            <img src="https://placehold.co/400" alt="placeholder">
            <div class="shop-item-text">
                <span>Keychain</span>
                <span>$5</span>
            </div>
        </div>
        <div class="shop-item">
            <img src="https://placehold.co/400" alt="placeholder">
            <div class="shop-item-text">
                <span>Sweatshirt</span>
                <span>$20</span>
            </div>
        </div>
        <div class="shop-item">
            <img src="https://placehold.co/400" alt="placeholder">
            <div class="shop-item-text">
                <span>Jeans</span>
                <span>$20</span>
            </div>
        </div>
    </main>
</body>
</html>