<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="/css/shop.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <%- include('./partials/_navbar.ejs') %>
    </header>
    <h1>Shop</h1>
    <main>
        <div class="flex-container">
            <a href="#" class="shop-item">
                <img src="/images/keychains.jpg" alt="keychains">
                <div class="shop-item-text">
                    <span>Keychain</span>
                    <span>$5</span>
                </div>
                <p>Sorry, currently out of stock.</p>
            </a>
            <a href="#" class="shop-item">
                <img src="/images/denim.jpg" alt="multiple pairs of jeans">
                <div class="shop-item-text">
                    <span>Denim</span>
                    <span>$20</span>
                </div>
                <p>Sorry, currently out of stock.</p>
            </a>
        </div>
    </main>

    <script src="/script.js"></script>
</body>

</html>