img {
    width: 10rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.about-flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10rem;
}

.about-profile-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 15rem;
}