* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(247, 255, 247);
    background: linear-gradient(90deg, rgba(247, 255, 247, 1) 0%, rgba(234, 255, 234, 1) 52%, rgba(201, 221, 201, 1) 100%);

}

h1 {
    text-align: center;
    color: rgb(255, 0, 255);
}

nav {
    width: 70vw;
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
}

nav>* {
    text-decoration: none;
    color: white;
}