@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}

body {
    background: rgb(184, 229, 205);
    background: linear-gradient(90deg, rgba(184, 229, 205, 1) 0%, rgba(164, 230, 194, 1) 50%, rgba(124, 234, 174, 1) 100%);
    background-size: 130%;
}

h1 {
    text-align: center;
    margin: 2rem 0;
    color: rgb(252, 249, 231)
}

nav {
    margin: 0 auto;
    padding: 1.5rem;
    background-color: rgba(76, 143, 136, 0.097);
}

.nav-flex {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 45vw;
}

.nav-flex>* {
    text-decoration: none;
    color: rgb(64, 122, 113);
    /* font-weight: 600; */
    font-size: 1.25rem;
    transition: 0.3s;
}

.nav-flex>*:hover {
    transform: scale(1.05);
    color: rgba(252, 249, 231, 0.959);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#logo {
    width: 30vw;
    margin: auto;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 2rem;
    left: 1.5rem;
    right: 0;
    animation: fadeIn 5s;
    transition: 3s;
}

#logo:hover {
    transform: scale(1.03);
    cursor: pointer;
}