main {
    display: flex;
    justify-content: center;
    animation: fadeIn 0.7s;
    padding-bottom: 7rem;
}

p {
    margin-top: 1rem;
    text-align: center;
    color: rgb(187, 0, 0);
}

.flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50%;
}

.shop-item {
    padding: 1.4rem 1rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.shop-item>img {
    width: 17rem;
    border-radius: 10px;
}

.shop-item-text {
    margin: 0 auto;
    margin-top: 0.5rem;
    width: 92%;
    display: flex;
    justify-content: space-between;
}

.shop-item-text>span {
    color: rgba(55, 104, 97, 0.956);
    font-size: 1.1rem;
    font-weight: 550;
}

.shop-item-image {
    background-image: url('/images/keychains.jpg');
}

/* .shop-item>p {
    text-align: center;
    margin-top: 1rem;
    color: rgba(55, 104, 97, 0.956);
    font-size: 1.2rem;
} */
